body{
  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container{
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.nav-link:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  background-color: red;
}

.navbar img{
  height: 40px;
}

.carousel-inner h5{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.faanyag img, .faanyag h3{
  display: block;
}

.faanyag img{
  border: 3px solid white;
}

.faanyag h3{
  background-color: rgb(0, 132, 255);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: white;
}

.faanyag a{
  text-decoration: none;
}

.elvalaszto{
  border: 3px solid black;
  opacity: 100%;
  width: 90%;
  margin: 20px auto;
}

.faanyag_table th, .faanyag_table td{
  padding: 10px;
}

.faanyag_table tr:nth-child(2n){
  background-color: rgba(255, 255, 255, 0.9);
}

h5{
  font-size: 2rem;
}

.szerszam{
  display: flex;
}

.szerszam h4{
  width: 100%;
}

.szerszam button{
  margin-top: auto;
  display: block;
  position: relative;
  bottom: 0;
}