body{
  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container{
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.85);
}

.nav-link:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: red;
}

.faanyag img, .faanyag h3{
  display: block;
}

.faanyag img{
  border: 3px solid white;
}

.faanyag h3{
  background-color: rgb(0, 132, 255);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: white;
}

.faanyag a{
  text-decoration: none;
}

.elvalaszto{
  border: 3px solid black;
  opacity: 100%;
  width: 90%;
  margin: 20px auto;
}

.faanyag_table th, .faanyag_table td{
  padding: 10px;
}

.faanyag_table tr:nth-child(2n){
  background-color: rgba(255, 255, 255, 0.9);
}